.filter-btns {
  display: flex;
  list-style: none;
}
.filter-btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.filter-btns button.selected {
  border: 1px solid;
  border-color: rgba(175, 47, 47, 0.2) !important;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: inherit;

  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #fff;
}
