.todos__item {
  display: flex;
  align-items: center;
  border-top: 1px solid #e6e6e6;
  /* border: 1px solid grey; */
  height: 60px;
  /* transition: 0.1s; */
}

/* .todos__item * {
      transition: 0.1s;
  } */

.todos__item.hide {
  visibility: hidden;
  height: 0;
  /* transition: 0.1s; */
}

.todos__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
  /* border: 1px solid red; */
  margin: 10px;
}

.todos__toggle:checked + .todos__title {
  text-decoration: line-through;
  color: grey;
  opacity: 0.5;
}

.todos__item button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
  /* border: 1px solid red; */
  margin: 10px;
}

.todos__title {
  font-size: 20px;
  flex-grow: 1;
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  display: block;
}

.todos__delete {
  background-color: #fff;
  border: none !important;
  visibility: hidden;
  font-size: 30px;
  color: rgb(211, 103, 103);
}

.todos__delete:hover {
  color: rgb(228, 53, 53);
}

.todos__item:hover .todos__delete {
  visibility: inherit;
}
