footer.active {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.footer {
  display: none;
}
.delete-checked {
  cursor: pointer;
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
